.forgotPassword {
  display: flex;
  justify-content: center;
}

.forgotPassword-inner > * {
  margin-bottom: 1rem;
}

.forgotPassword-form > * {
  margin-block: 1rem;
}

.forgotPassword-form > .form-group {
  display: flex;
  flex-direction: column;
}
