.resetPassword {
  display: flex;
  justify-content: center;
  text-align: center;
}

.resetPassword-form-wrapper {
  text-align: left;
  margin-inline: auto;
}

.resetPassword-form > * {
  margin-top: 1rem;
}

.resetPassword-form > .form-group {
  display: flex;
  flex-direction: column;
  width: auto;
}
