.shipping-container .heading {
  text-align: center;
  padding-block: 1rem;
}
.shipping-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.shipping-form > * {
  margin-block: 0.5rem;
}

.shipping-form > div > p {
  display: inline-block;
  width: 100px;
}

.shipping-form > div > input,
select {
  width: 300px;
  padding: 0.25rem 1rem;
  background-color: #e8f0fe;
  border: 1px solid #ced4da;
  border-radius: var(--border-radius);
}
